/* SP */
@media screen and (max-width:768px) {
    body[data-mode=loaded] #titleSectionSP h1{
        transition-duration: .8s;
        transform: none;
    }
}

/* title:slideIn*/
.slideIn{
    animation: slideIn 0.5s ease-in-out 0s 1 normal backwards;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ticket:ticketIn */
.ticketIn{
    animation: ticketIn 0.5s ease-in-out 0s 1 normal backwards;
}

@keyframes ticketIn{
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}

body[data-mode=loaded] #titleSection h1{
    transition-duration: .8s;
    transform: none;
}

body #topWrap #news,
body #topWrap #newsPC{
    transform: translateY(50px);
}






























