
*{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*{
    box-sizing: border-box;
}

*:before, *:after{
    box-sizing: inherit;
}

a, a:visited{
    color: inherit;
}

img {
    border-style: none;
}

/* .u-twitter, .u-instagram{
    color: #fff;
    content: "";
    display: inline-block;
    width:  4vw;
    height: 4vw;
    margin: 0 1em;
} */
/*
.u-external-link{
    color: #fff;
}

.u-external-link__c{
    color: #fff;
    content: "";
    display: inline-block;
    width: 2.267vw;
    height: 2.267vw;
    margin-left: 0.7em;
} */

@media screen and (min-width:769px) {
    .u-twitter, .u-instagram{
        width: 18px;
        height: 18px;
        color: #fff;
    }

    .u-twitter:hover,
    .u-instagram:hover{
        color: #000;
        transition-duration: 0.3s;
    }

    .u-external-link__a{
        position: absolute;
        color: #fff;
        width: 20px;
        content: "";
        top: 2.5px;
    }

    .u-external-link__b{
        position: absolute;
        color: #fff;
        width: 23px;
        content: "";
        top: 13px;
        left: 75%;
    }

    .u-external-link__c{
        color: #fff;
        width: 14px;
        margin-left: 8px;
    }
}