html{
    width: 100%;
    font-size: 62.5%;
}

body{
    background: 0 0/300px 300px #ff5703 fixed;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,
    "Yu Gothic",YuGothic,
    "ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,
    "メイリオ",Meiryo,
    sans-serif;
    -webkit-text-size-adjust: 100%;
}

#topWrap header{
    position: fixed;
    width: 350px;
    top: 15px;
    left: 15px;
}

#topWrap .c-logoText{
    width: 100%;
    position: absolute;
    display: none;
}

#topWrap .c-logoText h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.7rem;
    font-weight: 250;
    color: #fff;
    margin-bottom: -28px;
}

#topWrap .c-logoText p{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none;
}

#topWrap #news,
#topWrap div.p-topWrap__bannerPC,
#topWrap nav,
#topWrap header{
    z-index: 80;
}

#comedianSlide ul.sns a,
/* #footer div.p-footer__logo p a,
#footer div.p-footer__logo h1, */
/* #footerSP div.p-footer__logo p a,
#footerSP div.p-footer__logo h1, */
#floorSection #floorSlide div.swiper-slide h3,
/* #titleSection nav ul.lang li a,
#titleSection nav ul.lang li span, */
/* #titleSection h1,
#topWrap div.p-topWrap__banner.ar div.c-box,
#topWrap nav li a, */
#accessSection h2,
#ticketSection h2,
#programSection h2,
#floorSection h2,
#floorSectionSP h2,
#comedianSection h2,
#aboutSection h2 {
    overflow: hidden;
}

body #topWrap nav{
    transform: translateY(-70px);
}

#topWrap nav{
    display: flex;
    position: fixed;
    top: 9px;
    right: 20px;
}

#topWrap nav .p-topWrap__sns{
    display: flex;
    justify-content: space-between;
    width: 60px;
    height: 24px;
    padding-right: 11px;
    margin: 2px 13px 2px 0;
    border-right: 2px solid rgba(255,255,255,.4);
}


#topWrap nav li a{
    width: 18px;
    height: 18px;
    object-fit: cover;
}

#topWrap nav a{
    display: block;
}

#topWrap nav div.p-topWrap__mask img{
    width: 28px;
    height: 27px;
    margin-top: 2px;
}

#topWrap nav div.p-topWrap__mask img:hover{
    opacity: 0.5;
}


#topWrap div.p-topWrap__banner.ar{
    width: 179px;
    height: 180px;
    position: fixed;
    left: 10px;
    bottom: 50px;
}

#topWrap div.p-topWrap__banner.ar a,
#topWrap div.p-topWrap__banner.ar div.cs{
    width: 179px;
    height: 180px;
}

.c-hoverType_a,
.c-hoverType_ax,
.c-hoverType_b,
.c-hoverType_d{
    display: block;
    position: relative;
}

#topWrap div.p-topWrap__banner.ar div.c-box{
    width: 179px;
    height: 180px;
    padding: 10px 9px 8px 10px;
    overflow: hidden;
    font-size: 0;
    border-radius: 10px;
    background: 0 100%/100% auto,0 0/300px 300px;
}

.c-hoverType_a div.c-box,
.c-hoverType_d div.c-box{
    overflow: hidden;
    position: relative;
}

.c-hoverType_a div.c-box::after,
.c-hoverType_d div.c-box::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #00d1f7;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    visibility: hidden;
}

#topWrap div.p-topWrap__banner.ar div.c-box::before{
    content: "";
    display: block;
    width: 160px;
    height: 120px;
    border-radius: 3px;
    background: 0 0/100% auto;
}

.c-hoverType_a[data-hover="1"] div.c-box::after,
.c-hoverType_ax[data-hover="1"] div.c-hoverBox::before,
.c-hoverType_ax[data-hover="1"] div.c-hoverBox::after,
.c-hoverType_d[data-hover="1"] div.c-box::after{
    background: #00d1f7;
}

.c-hoverType_a[data-hover="2"] div.c-box::after,
.c-hoverType_ax[data-hover="2"] div.c-hoverBox::before,
.c-hoverType_ax[data-hover="2"] div.c-hoverBox::after,
.c-hoverType_d[data-hover="2"] div.c-box::after{
    background: #e6be40;
}

.c-hoverType_a[data-hover="3"] div.c-box::after,
.c-hoverType_ax[data-hover="3"] div.c-hoverBox::before,
.c-hoverType_ax[data-hover="3"] div.c-hoverBox::after,
.c-hoverType_d[data-hover="3"] div.c-box::after{
    background: #69cf26;
}

.c-hoverType_a[data-hover="4"] div.c-box::after,
.c-hoverType_ax[data-hover="4"] div.c-hoverBox::before,
.c-hoverType_ax[data-hover="4"] div.c-hoverBox::after,
.c-hoverType_d[data-hover="4"] div.c-box::after{
    background: #e878b3;
}

#topWrap div.p-topWrap__banner{
    display: none;
}

/* チケットスライドイン */
#topWrap div.p-topWrap__bannerPC{
    display: block;
    width: 184px;
    height: 58px;
    position: fixed;
    right: 10px;
    bottom: 50px;
    background-color: #fff;
}

#topWrap .ticketOut{
    animation: ticketOut 0.5s forwards;
}

@keyframes ticketOut{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(350px);
    }
}

#topWrap .ticketIn {
    animation: ticketIn 0.5s forwards;
}

@keyframes ticketIn{
    from {
        transform: translateX(350px);
    }
    to {
        transform: translateX(0);
    }
}
/* ------------------------------------ */

@keyframes slideRight{
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#topWrap div.p-topWrap__bannerPC a{
    width: 184px;
    height: 58px;
    text-decoration: none;
    font-weight: 500;
}

#topWrap div.p-topWrap__bannerPC div.c-box{
    padding: 0 2.933vw 0 11.733vw;
    position: relative;
    padding: 4px;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    color: #57ab48;
    font-size: 1.2rem;
    line-height: 1.25;
}

#topWrap div.p-topWrap__bannerPC div.c-box>div{
    display: flex;
    height: 100%;
    align-items: center;
    border: 2px solid #57ab48;
    border-radius: 6px;
    position: relative;
}

#topWrap div.p-topWrap__bannerPC div.c-box>div::before,
#topWrap div.p-topWrap__bannerPC div.c-box>div::after {
    content: "";
    display: block;
    position: absolute;
}

#topWrap div.p-topWrap__bannerPC div.c-box>div::before{
    height: 100%;
    background: url(../img/logo.png) no-repeat 100% 50%/contain;
    width: 33px;
    left: 6px;
}

#topWrap div.p-topWrap__bannerPC div.c-box>div::after{
    width: 10px;
    height: 100%;
    border-left: 2px solid #57ab48;
    right: 0;
}

#topWrap div.p-topWrap__bannerPC div.c-box>div span{
    padding: 0 13px 0 44px;
}

#topWrap div.p-topWrap__bannerPC div.c-box::before{
    width: 100%;
    height: 100%;
    border: 0.267vw solid #57ab48;
    border-radius: 0.8vw;
    top: 0;
    left: 0;
}

.c-hoverType_a div.c-hoverStar,
.c-hoverType_ax div.c-hoverStar,
.c-hoverType_b div.c-hoverStar,
.c-hoverType_d div.c-hoverStar{
    width: 57px;
    height: 57px;
    background: url(./../img/hoverStar.png) no-repeat 0 0/57px 58px;
    position: absolute;
    top: -28px;
    left: 69%;
    margin-left: -98.5px;
    transform-origin: 50% 50%;
    pointer-events: none;
    z-index:90;
    opacity: 0;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform:scale3d(0,0,0);
    }

    100% {
        opacity: 1;
        transform:scale3d(1,1,1);
    }
}

#topWrap #news{
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: #000;
}

/* ニュースバー */

#topWrap #newsBar{
    display: flex;
    height: 100%;
    width: 280vw;
    overflow: hidden;
}

#topWrap #newsBar p{
    padding-left: 30px;
    font-size: 1.4rem;
    line-height: 2.857;
    color: #fff;
    position: relative;
}

#topWrap #newsBar p::before{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background: url(./../img/star02.png) no-repeat 0 100%/30px 30px;
}

/* -------------------------------- */

#mainWrap{
	width: 100%;
    min-width: 1300px;
}

#mainWrap section, #mainWrap footer{
    position: relative;
}

/* 背景画像 */
#mainBG{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
}

#bgContainer{
    width: 2400px;
    height: 1340px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1200px;
    transform-origin: 50% 0;
    transform: scale(1.41);
}

body[data-mode=loaded] #mainBG div.c-bgBox.back{
    animation: .6s .1s cubic-bezier(0.22, 1, 0.36, 1) 1 mainView both;
}

body[data-mode=loaded] #mainBG div.c-bgBox{
    transform: translate(0, 0);
}
#mainBG div.c-bgBox{
    width: 2400px;
    height: 1340px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1200px;
    transform: translate(0, 1340px);
}

#mainBG div.p-back,
#mainBG div.p-front{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1.4vw;
    left: 0;
}

.positionA{
    animation-name: positionA;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes positionA{
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.positionB{
    animation-name: positionB;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes positionB{
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.positionC{
    animation-name: positionC;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes positionC{
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

body[data-scroll=""] #mainBG div.p-backImage,
body[data-scroll=top] #mainBG div.p-backImage{
    top: 109px;
}

#mainBG div.p-backImage{
    width: 920px;
    position: absolute;
    top: -40px;
    left: 754px;
    transition: top .5s 0s cubic-bezier(0.22, 1, 0.36, 1);
}

#mainBG div.p-back img,
#mainBG div.p-front img{
    width: 100%;
    height: auto;
}

body[data-mode=loaded] #mainBG div.c-bgBox.front{
    animation: .7s 0s cubic-bezier(0.22, 1, 0.36, 1) 1 mobView both;
}

body[data-mode=loaded][data-move=play] #mainBG div.p-frontImage{
    animation-play-state: running;
}

#mainBG div.p-front.bg_1 div.p-frontImage{
    width: 141px;
    top: 500px;
    left: 858px;
    animation-duration: 2s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_2 div.p-frontImage{
    width: 141px;
    top: 191px;
    left: 871px;
    animation-duration: 2.2s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_3 div.p-frontImage{
    width: 234px;
    top: 219px;
    left: 717px;
    animation-duration: 2.4s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_4 div.p-frontImage{
    width: 165px;
    top: 619px;
    left: 1486px;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_5 div.p-frontImage{
    width: 332px;
    top: 193px;
    left: 1526px;
    animation-duration: 2.8s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_6 div.p-frontImage{
    width: 109px;
    top: 255px;
    left: 1491px;
    animation-duration: 3s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_7 div.p-frontImage{
    width: 210px;
    top: 460px;
    left: 1386px;
    animation-duration: 3.2s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_8 div.p-frontImage{
    width: 228px;
    top: 439px;
    left: 649px;
    animation-duration: 3.4s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_9 div.p-frontImage{
    width: 390px;
    top: -257px;
    left: 1035px;
    animation-duration: 3.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_10 div.p-frontImage{
    width: 150px;
    top: 215px;
    left: 1378px;
    animation-duration: 3.8s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_11 div.p-frontImage{
    width: 340px;
    top: 704px;
    left: 680px;
    animation-duration: 4s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_12 div.p-frontImage{
    width: 234px;
    top: 10px;
    left: 602px;
    animation-duration: 4.2s;
    animation-name: anime-fuwafuwa;
}

body[data-mode=loaded] #mainBG div.p-frontImage{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-name: anime-fuwafuwa;
}

@keyframes anime-fuwafuwa{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

#mainBG div.p-frontImage{
    position: absolute;
}

/* タイトル */

    /* スライドイン*/
#titleSection{
    height: 100vh;
    min-height: 500px;
    position: relative;
}

#mainWrap div.c-container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    animation: slideIn 0.3s ease 1s 1 normal backwards;
}

.slideIn{
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideOut{
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slideOut{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}


#titleSection h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 11.5rem;
    font-weight: 200;
    color: #fff;
    margin-bottom: -126px;
}

#titleSection p{
    font-family: 'Dela Gothic One', cursive;
    font-size: 9.5rem;
    font-weight: 200;
    color: #fff;
    margin-bottom: -76px;
}

#titleSection span{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3.77rem;
    font-weight: 100;
    color: #fff;
    margin-top: 0;
}

/* ------------------------------------ */

#aboutSection{
    width: 100%;
    padding: 88px 0 62px;
    position: relative;
    color: #fff;
    margin-top: 58px;
}

#aboutSection::before, #aboutSection::after {
    content: "";
    width: 100%;
    background: repeat-x 50% 0/1600px auto;
    position: absolute;
    left: 0;
}

#aboutSection::before{
    content: "";
    width: 100%;
    height: 13.333vw;
    background: 0 0/150px 150px #ea7fb8;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(14% 27%, 45.6% 13%, 47.333% 94%, 79% 25%, 100% 86%, 0% 100%);
}

#aboutSection div.l-aboutContent{
    width: 100%;
    padding: 50px 0 143px;
    background: 0 0/300px 300px #ea7fb8;
}

#aboutSection div.c-mob_star{
    width: 197px;
    height: 100px;
    position: absolute;
    top: -160px;
    left: 455px;
}

div.c-mob_star.type{
    width: 197px;
    height: 100px;
    position: absolute;
}

div.c-mob_star.type img.c-starItemA,
div.c-mob_star.type img.c-starItemB{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
}

div.c-mob_star.type img.c-starItemA{
    left: 0;
}

div.c-mob_star.type img.c-starItemB{
    right: 30px;
}

/* セクションタイトル */

#aboutSection .c-titleScroll{
    position: absolute;
    width: 266px;
    height: 163px;
    top: -199px;
    left: 79px;
}

.c-titleScroll {
    opacity: 0;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform:scale3d(0,0,0);
    }

    100% {
        opacity: 1;
        transform:scale3d(1,1,1);
    }
}

/* --------------------------------- */

#aboutSection p.p-aboutTextSP{
    display: none;
}

#aboutSection p.p-aboutText{
    display:block;
    font-size: 2.9rem;
    line-height: 1.483;
    text-align: center;
    font-weight: 500;
    margin-bottom: 43px;
}

#aboutSection div.p-aboutData{
    display: none;
}

#aboutSection div.p-aboutDataPC{
    display:block;
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#aboutSection div.p-aboutDataPC dl{
    display: flex;
    max-width: 1280px;
    min-width: 300px;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 4px 0;
    margin: 0 auto;
}

#aboutSection div.p-aboutDataPC dt{
    position: relative;
    width: 185px;
    text-align: left;
}

#aboutSection div.p-aboutDataPC div.c-mob_star{
    top: -2px;
    left: -20px;
}

#aboutSection div.p-aboutDataPC div.c-mob_star img{
    width: 2vw;
    height: 2vw;
}

#aboutSection div.p-aboutDataPC dt p{
    padding: 0 46px 0 23px;
}

#aboutSection div.p-aboutDataPC dd span{
    font-size: 1.2rem;
}

#aboutSection div.p-aboutDataPC dd a:hover{
    text-decoration: none;
}

#aboutSection .p-aboutData-note{
    text-align: center;
}

#comedianSection{
    margin-top: -80px;
}

#comedianSection div.c-container{
    border-radius: 40px;
    padding: 80px 15px 10px 35px;
    background: 0 0/300px 300px #65cd25;
}

#comedianSection div.c-mob_star{
    top: -4vw;
    left: 50%;
}

#comedianSection .c-titleScroll{
    position: absolute;
    width: 329px;
    height: 136px;
    top: -66px;
    left: 66%;
}

#comedianSection ul{
    display: flex;
    flex-wrap: wrap;
}

#comedianSection li{
    width: 246px;
    padding: 0 3px 20px;
}

#comedianSection li a{
    text-decoration: none;
}

#comedianSection li figure{
    position: relative;
    padding-top: 170px;
}

#comedianSection li div.area{
    padding: 10px;
}

#comedianSection li div.p-comedian__image.area{
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
}

#comedianSection li p {
    line-height: 1.5;
}

#comedianSection li p.p-comedian__imagePhoto{
    border: 4px solid #fff;
    border-radius: 14px;
    font-size: 0;
    background: #fff;
}

#comedianSection li p.p-comedian__imagePhoto img{
    width: 192px;
    height: 192px;
}

#comedianSection li div.p-comedian__text.area{
    width: 220px;
    position: relative;
    margin-left: 20px;
}

#comedianSection li figcaption{
    min-height: 56px;
    padding: 7px 10px 6px;
    border-radius: 10px;
    background: #fff;
}

#comedianSection li p.p-comedian__textName{
    font-size: 1.6rem;
    margin-bottom: 1px;
}

#comedianSection li p.p-comedian__textCompany{
    font-size: 1.2rem;
}
/* ------------------------------- */
.c-hoverType_ax div.c-hoverBox{
    padding-top: 170px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0;
}

.c-hoverType_ax div.c-hoverBox:hover{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
}

#comedianSection li div.c-hoverBox::before{
    content: "";
    width: 220px;
    height: 220px;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#comedianSection li div.c-hoverBox::after{
    content: "";
    width: 220px;
    height: 100%;
    border-radius: 20px;
    margin-left: 20px;
    display: block;
}
/* --------------------------------- */


#floorSection{
    margin-top: 3.733vw;
    position: relative;
}

#floorSection h2 {
    width: 50.667vw;
    height: 22.133vw;
    top: -11.733vw;
    left: 12.533vw;
    background-image: url(../img/floor/title_sp.svg);
    transform-origin: 100% 100%;
    z-index: 10;
}

#floorSection #floorSlide{
    width: 100%;
    overflow: hidden;
    padding-bottom: 3.067vw;
    font-size: 2.667vw;
    line-height: 1.4;
}

.c-swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.c-swipeWrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

#floorSection #floorSlide div.p-swipeSlide{
    width: 92vw;
    padding: 6.667vw 1.333vw 0;
    position: relative;
}

.swipeBackface-hidden .p-swipeSlide{
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.p-swipeSlide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

/* ---------------------------------------------- */

#programSection{
    margin-top: 194px;
}

#programSection div.c-mob_star{
    top: -53px;
    left: 50%;
}

#programSection div.c-container{
    width: 1200px;
    padding: 109px 0 82px;
    border-radius: 40px;
    background: 0 0/300px 300px #fafafa;
}

#programSection .c-titleScroll{
    position: absolute;
    width: 329px;
    height: 134px;
    top: -84px;
    left: 103px;
}

#programSection div.p-program__time{
    padding: 0 60px 0 58px;
    position: relative;
    font-family: "Avenir",Arial,"Helvetica Neue",sans-serif;
}

#programSection div.p-program__time ul::before,
#programSection div.p-program__time ul::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    background: #aaa;
}

#programSection div.p-program__time ul::before{
    width: 8px;
    left: 126px;
    z-index: 1;
}

#programSection div.p-program__time li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
}

#programSection div.p-program__time li:not(:last-child){
    margin-bottom: 88px;
}

#programSection div.p-program__time li span{
    width: 53px;
    font-size: 1.6;
    line-height: 1;
}

#programSection div.p-program__time li::after{
    content: "";
    display: block;
    flex-grow: 1;
    height: 2px;
    background: #000;
    opacity: .1;
}

#programSection #timeBar[data-size="0"]{
    display: none;
}

#programSection #timeBar {
    width: 1020px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 118px;
    z-index: 10;
}

#programSection div.p-program__event{
    display: none;
}

#programSection div.p-program__eventPC{
    display:block;
    display: flex;
    justify-content: space-between;
    width: 988px;
    position: absolute;
    top: 57px;
    left: 143px;
}

#programSection div.p-program__eventPC dl{
    width: 482px;
}

#programSection div.p-program__eventPC dt{
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.625;
}

#programSection div.p-program__eventPC dt.sat span{
    color: #26b7e9;
}

#programSection div.p-program__eventPC dt span{
    display: block;
    font-size: 2.4rem;
    line-height: 1.333;
}

#programSection div.p-program__eventPC li[data-time="0.5"]{
    height: 65px;
}

#programSection div.p-program__eventPC li[data-time="0.83"]{
    height: 107.9px;
}

#programSection div.p-program__eventPC li[data-time="0.67"]{
    height: 87.1px;
}

#programSection div.p-program__eventPC li[data-time="1.17"]{
    height: 152.1px;
}

#programSection div.p-program__eventPC li[data-time="1.33"]{
    height: 172.9px;
}

#programSection div.p-program__eventPC li[data-time="0.3"]{
    height: 39px;
}

#programSection div.p-program__eventPC li a{
    height: 100%;
    text-decoration: none;
}

#programSection div.p-program__eventPC li a:hover{
    filter: brightness(95%);
}

#programSection div.p-program__eventPC a div.p-program__eventBox{
    height: 100%;
    border-radius: 10px;
}

.c-hoverType_a div.p-program__eventBox,
.c-hoverType_d div.p-program__eventBox{
    overflow: hidden;
    position: relative;
}

#programSection div.p-program__eventPC li figure{
    position: relative;
    padding-left: 89px;
}

#programSection div.p-program__eventPC li figure p.p-program__photo{
    width: 60px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0;
}

#programSection div.p-program__eventPC li figure figcaption{
    text-align: left;
    padding: 11px 15px 0 0;
}

#programSection div.p-program__eventPC li figure p.p-program__time{
    font-size: 1.2rem;
    line-height: 1.75;
}

#programSection div.p-program__eventPC li figure p.p-program__name{
    font-size: 1.6rem;
    line-height: 1.303;
    padding: 0.13em 0;
}

#programSection div.p-program__eventPC li figure p.p-program__category{
    font-size: 1.2rem;
    line-height: 1.5;
}

.c-hoverType_a div.p-program__eventBox::after,
.c-hoverType_d div.p-program__eventBox::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #00d1f7;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    visibility: hidden;
}

#programSection div.p-program__eventPC li[data-close="0"] a::after{
    visibility: visible;
}

#programSection div.p-program__eventPC li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .53;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#programSection div.p-program__eventPC li a[data-hover="0"] div.p-program__eventBox,
#programSection div.p-program__eventPC li a[data-hover="0"] div.p-program__eventBox::after{
    background: #ddd;
}

#programSection div.p-program__eventPC li a[data-hover="1"] div.p-program__eventBox,
#programSection div.p-program__eventPC li a[data-hover="1"] div.p-program__eventBox::after{
    background: #e6be40;
}

#programSection div.p-program__eventPC li a[data-hover="2"] div.p-program__eventBox,
#programSection div.p-program__eventPC li a[data-hover="2"] div.p-program__eventBox::after{
    background: #69cf26;
}

#programSection div.p-program__eventPC li a[data-hover="3"] div.p-program__eventBox,
#programSection div.p-program__eventPC li a[data-hover="3"] div.p-program__eventBox::after{
    background: #e878b3;
}

#programSection div.p-program__eventPC li a[data-hover="4"] div.p-program__eventBox,
#programSection div.p-program__eventPC li a[data-hover="4"] div.p-program__eventBox::after{
    background: #00d1f7;
}


#programSection div.p-program__eventPC dt.sun span{
    color: #e92323;
}

#ticketSection{
    margin-top: 141px;
}

#ticketSection div.c-container{
    width: 464px;
    height: 464px;
    border-radius: 232px;
    background: #fff;
}

#ticketSection div.c-container>div.c-mob_star{
    left: 116px;
    top: -62px;
}

#ticketSection .c-titleScroll{
    position: absolute;
    width: 293px;
    height: 171px;
    top: -38px;
    left: -170px;
}

#ticketSection h3.p-ticket__logo{
    width: 146px;
    padding-top: 25px;
    margin: 0 auto;
    font-size: 0;
}

#ticketSection h3.p-ticket__logo img{
    width: 100%;
    height: auto;
}

#ticketSection div.p-ticket__text{
    padding: 0 56px;
    margin-top: 19px;
}

#ticketSection div.p-ticket__btn{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

#ticketSection div.p-ticket__btn a{
    text-decoration: none;
}

#ticketSection div.p-ticket__btn a div.p-ticket__box{
    border-radius: 26px;
    white-space: nowrap;
    background: #56ac49;
    color: #fff;
    padding: 10px 38px 10px 27px;
}

#ticketSection div.p-ticket__btn a div.p-ticket__box:hover{
    background-color:rgba(43, 85, 37, 1);
    ackground-blend-mode: darken;
}


.c-hoverType_a div.p-ticket__box, .c-hoverType_d div.p-ticket__box{
    overflow: hidden;
    position: relative;
}

#ticketSection div.p-ticket__btn a p{
    position: relative;
}

#accessSection{
    padding-top: 88px;
    position: relative;
    margin-top: 78px;
}

#accessSection::before{
    content: "";
    width: 100%;
    height: 13.333vw;
    background: 0 0/150px 150px #65cd25;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(35% 28%, 54% 70%, 31% 123%, 81% 29%, 92% 67%, -5% 108%);
}

#accessSection div.c-mob_star{
    top: -180px;
    left: 0%;
}

#accessSection div.l-accessContent {
    width: 100%;
    min-height: 623px;
    padding: 125px 0 218px;
    position: relative;
    background:0 0/300px 300px #65cd25;
    color: #fff;
}

#accessSection .c-titleScroll{
    position: absolute;
    width: 303px;
    height: 130px;
    top: -208px;
    left: 150px;
}

#accessSection div.p-access__map{
    width: 552px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: -65px;
    right: 128px;
    background: #fff;
}

#accessSection div.p-access__map iframe{
    width: 100%;
    height: 100%;
}

#accessSection div.p-access__text{
    width: 600px;
    padding-left: 128px;
    font-size: 0;
    position: absolute;
    top: -60px;
}

#accessSection .p-access__textImg{
    font-size:70px;
    font-weight: 900;
    color: #fff;
}

#accessSection div.p-access__text figcaption{
    font-size: 1.6rem;
    text-align: left;
    margin-left: 7vw;
}

#accessSection div.p-access__text ul{
    margin-top: 23px;
}

#accessSection div.p-access__text li{
    position: relative;
    padding-left: 20px;
}

#accessSection div.p-access__text div.c-mob_star{
    top: -2px;
    left: 20%;
}

#accessSection div.p-access__text div.c-mob_star .c-starItemA{
    left: -50%;
    width: 30px;
    height: 30px;
}

#accessSection div.p-access__text a:hover{
    text-decoration: none;
}

#noteSectionSP{
    display: none;
}

#noteSection{
    padding-top: 138px;
    position: relative;
    margin-top: -138px;
}

#noteSection::before{
    content: "";
    width: 100%;
    height: 170px;;
    background: 0 0/150px 150px #00badc;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(165% at 50% 897%);

}

#noteSection div.l-noteContent{
    width: 100%;
    padding: 39px 0 208px;
    position: relative;
    background: 0 0/300px 300px #00badc;
    color: #fff;
}

#noteSection div.c-mob_star{
    top: -197px;
    left: 45%;
}

#noteSection div.c-container{
    width: 960px;
}

#noteSection h2{
    width: 100%;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -101px;
    left: 0;
}

#noteSection .p-note{
    display: flex;
    justify-content: space-between;
}

#noteSection .p-note dl{
    width: 300px;
}

#noteSection .p-note figure>div{
    width: 260px;
    height: 260px;
    border-radius: 130px;
    overflow: hidden;
    font-size: 0;
    margin: 0 auto;
    background-color: #00ccff;
    text-align: center;
}

#noteSection .p-note figure img{
    width: 220px;
    height: 300px;
    object-fit: cover;
}

#noteSection .p-note figcaption{
    margin-top: 23px;
    font-size: 2.4rem;
    line-height: 1.458;
    padding: 0 10px;
    text-align: center;
}

#noteSection .p-note dd{
    margin-top: 14px;
    padding: 0 20px;
    text-align: left;
}

#contactSection{
    padding-top: 100px;
    position: relative;
    margin-top: -100px;
    overflow: hidden;
}

#contactSection div.c-mob_star{
    top: -170px;
    left: 3%;
}

#contactSection::before{
    content: "";
    width: 100%;
    height: 13.333vw;
    background: 0 0/150px 150px #fff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(43% 8%, 76% 99%, 50% 129%, 103% 10%, 100% 250%, -19% 68%);
}

#contactSection div.l-contactContent{
    width: 100%;
    padding: 81px 0 77px;
    position: relative;
    background: 0 0/300px 300px #fafafa;
}

#contactSection h2{
    width: 100%;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

#contactSection div.p-contact__text{
    margin-top: 42px;
    text-align: center;
}

#contactSection div.p-contact__btn{
    display: flex;
    justify-content: center;
    margin-top: 51px;
}

.hoverType_a, .hoverType_ax,
.c-hoverType_b, .hoverType_d{
    display: block;
    position: relative;
}

#contactSection div.p-contact__btn::before,
#contactSection div.p-contact__btn::after{
    content: "";
    flex-grow: 1;
}

#contactSection div.p-contact__btn a{
    min-width: 396px;
    text-decoration: none;
}

#contactSection div.p-contact__btn a div.c-box{
    padding: 17px 38px 17px 38px;
    border-radius: 41px;
    white-space: nowrap;
    background: 0 0/300px 300px #ea7fb8;
    color: #fff;
}

#contactSection div.p-contact__btn a div.c-box:hover{
    background-color :rgb(172, 44, 112);
    ackground-blend-mode :darken;
}

.hoverType_a div.c-box,
.hoverType_d div.c-box {
    overflow: hidden;
    position: relative;
}

#contactSection div.p-contact__btn a p{
    position: relative;
    text-align: center;
    font-size: 2.4rem;
    z-index: 1;
}

.hoverType_a div.c-box::after, .hoverType_d div.c-box::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00d1f7;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    visibility: hidden;
}

#contactSection div.p-contact__btn a div.c-box::after {
    background-color: #e878b3;
}

/* フッター */

#footerSP{
    display: none;
}

#footer{
    color: #fff;
    background-color: #000;
}

#footer div.c-container{
    display: flex;
    justify-content: space-between;
    padding: 61px 40px 68px;
}

#footer .c-hoverType_b{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: absolute;
    top: -32px;
    right: 40px;
    z-index: 1;
    cursor: pointer;
    background-color: #ddd;
}

#footer .c-hoverType_b::before{
    content: "";
    display: block;
    width: 26px;
    height: 32px;
    position: absolute;
    top: 16px;
    left: 19px;
    background: url(../img/footer.png) no-repeat 100% 50%/26px 32px;
    transform: rotate(-90deg);
}

/* フッターロゴ */
#footer .p-footer__logo{
    width: 350px;
    position: relative;
}

#footer .p-footer__logo a{
    text-decoration: none;
}

#footer .c-logoText{
    width: 100%;
    position: relative;
}

#footer .c-logoText h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.7rem;
    font-weight: 250;
    color: #fff;
    margin-bottom: -28px;
}

#footer .c-logoText p{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none;
}

#footer .p-footer__textImg{
    font-size:20px;
    font-weight: 900;
    color: #fff;
    text-align: left;
    line-height: 1.8;
    margin-left: 2.4vw;
}

#footer .p-footer__textImg:hover{
    opacity: 0.5;
}

/* --------------------------------- */

#footer li {
    padding: 8px 0 8px 23px;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.333;
}

#footer li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#footer li:hover a{
    opacity: 0.5;
}

#footer li div.c-mob_star.type{
    top: 5px;
    left: -10px;
}

#footer li div.c-mob_star.type img{
    width: 25px;
    height: 25px;
}
