html{
    font-size: 62.5%;
}

body{
    background: 0 0/150px 150px #ff5703 fixed;
    font-size: 3.6vw;
    font-weight: 400;
    line-height: 1.9;
    font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,
    "Yu Gothic",YuGothic,
    "ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,
    "メイリオ",Meiryo,sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

#topWrap header{
    position: fixed;
    left: 3.2vw;
    top: 2.667vw;
}

#topWrap #news,
#topWrap div.p-topWrap__banner,
#topWrap nav,
#topWrap header{
    z-index: 80;
}

#topWrap .c-logoText {
    width: 60vw;
    height: 4vw;
    position: absolute;
    display: none;
    padding-top: 10px;
}

#topWrap .c-logoText h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem;
    font-weight: 250;
    color: #fff;
    margin-bottom: -20px;
}

#topWrap .c-logoText p {
    font-family: 'Dela Gothic One', cursive;
    font-size: 1.65rem;
    color: #fff;
    text-decoration: none;
}

#topWrap nav{
    display: flex;
    position: fixed;
    align-items: center;
    top: -0.867vw;
    right: 3.467vw;
}

#topWrap nav .p-topWrap__sns{
    display: flex;
    justify-content: space-between;
    width: 14vw;
    height: 5.067vw;
    padding-right: 2.2vw;
    margin-right: 1.5vw;
    border-right: 0.267vw solid rgba(255,255,255,.4);
}

#topWrap nav a{
    display: block;
}

#topWrap nav div.p-topWrap__mask img {
    width: 5vw;
    height: 7vw;
    margin: 2.7vw 0 0 1vw;
}

#topWrap div.p-topWrap__banner div.cs{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

.c-hoverType_a,
.c-hoverType_ax,
.c-hoverType_b,
.c-hoverType_d {
    display: block;
    position: relative;
}

.c-hoverType_a div.c-box,
.c-hoverType_d div.c-box {
    overflow: hidden;
    position: relative;
}


/* ticketBanner */
.p-topWrap__bannerPC{
    display: none;
}

#topWrap div.p-topWrap__banner.ticketIn{
    width: 47.2vw;
    height: 15.467vw;
    border-radius: 1.333vw;
    overflow: hidden;
    position: fixed;
    bottom: 18vw;
    right: 1.867vw;
    background: #fff;
}

#topWrap div.p-topWrap__banner a,
#topWrap div.p-topWrap__banner .cs {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

#topWrap div.p-topWrap__banner a{
    padding: 1.067vw;
    background-color: #fff;
}

#topWrap div.p-topWrap__banner div.c-box{
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    color: #57ab48;
    position: relative;
    padding: 0 2.933vw 0 11.733vw;
    font-size: 3.067vw;
    line-height: 1.304;
    background: url(../img/logo.png) no-repeat 2.5vw 65%/7.533vw 9.533vw;
}

#topWrap div.p-topWrap__banner div.c-box::before,
#topWrap div.p-topWrap__banner div.c-box::after{
    content: "";
    display: block;
    position: absolute;
}

#topWrap div.p-topWrap__banner div.c-box::before{
    width: 100%;
    height: 100%;
    border: 0.267vw solid #57ab48;
    border-radius: 0.8vw;
    top: 0;
    left: 0;
}

#topWrap div.p-topWrap__banner div.c-box::after{
    width: 2.4vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -0.533vw 0 #57ab48;
}
/* ---------ticketBanner------------ */

/* newsBar */
#topWrap #news{
    width: 100%;
    height: 9.334vw;
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    overflow: hidden;
    background: #000;
    transform: none;
}

#news .p-topWrap__newsBar{
    display: block;
    width: 281.788vw;
    height: 100%;
    background-color: #000;
}

#newsBar.p-newsBar__contents{
    display: inline-block;
    color: #fff;
    padding-left: 100%;
    white-space: nowrap;
    animation: banner 20s linear infinite;
}

  .p-newsBar__contents > * {
    display: inline-block;
}

#topWrap #newsBar p{
    padding-left: 30px;
    font-size: 1.4rem;
    line-height: 2.857;
    color: #fff;
    position: relative;
}

#topWrap #newsBar p::before{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background: url(./../img/star02.png) no-repeat 0 100%/30px 30px;
}


/*------------newsVar------------- */

#mainWrap{
	width: 100%;
}

/* background */
#mainBG{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
}

#bgContainer{
    width: 85.196vh;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -41.747vh;
}


body[data-mode=loaded] #mainBG div.c-bgBox{
    transform: translate(0, 0);
}

#mainBG div.c-bgBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mainBG div.p-back,
#mainBG div.p-front{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vw;
    left: 0;
}

.positionA{
    animation-name: positionA;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes positionA{
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.positionB{
    animation-name: positionB;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes positionB{
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-200px);
    }
}

body[data-scroll=""] #mainBG div.p-backImage{
    top: 18.875vh;
}

#mainBG div.p-backImage{
    width: 100%;
    position: absolute;
    top: 4.219vh;
    left: 0;
    transition: top .5s 0s cubic-bezier(0.22, 1, 0.36, 1);
}

#mainBG div.p-back img,
#mainBG div.p-front img{
    width: 100%;
    height: auto;
}

body[data-mode=loaded] #mainBG div.c-bgBox.front{
    animation: .7s 0s cubic-bezier(0.22, 1, 0.36, 1) 1 mobView both;
}

body[data-mode=loaded][data-move=play] #mainBG div.p-frontImage{
    animation-play-state: running;
}

#mainBG div.p-front.bg_1 div.p-frontImage{
    width: 10.437vh;
    top: 10.807vh;
    left: 60.252vh;
    animation-duration: 2s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_2 div.p-frontImage{
    width: 10.068vh;
    top: 18.944vh;
    left: 15.767vh;
    animation-duration: 2.2s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_3 div.p-frontImage{
    width: 16.876vh;
    top: -4.145vh;
    left: 9.104vh;
    animation-duration: 2.4s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_4 div.p-frontImage{
    width: 24.574vh;
    top: -6.366vh;
    left: 55.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_5 div.p-frontImage{
    width: 24.574vh;
    top: 45.634vh;
    left: 57.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_6 div.p-frontImage{
    width: 15.574vh;
    top: 12.634vh;
    left: 40.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_7 div.p-frontImage{
    width: 15.574vh;
    top: 67.634vh;
    left: 9.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}
#mainBG div.p-front.bg_8 div.p-frontImage{
    width: 24.574vh;
    top: -10.366vh;
    left: 26.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_9 div.p-frontImage{
    display: none;
}

#mainBG div.p-front.bg_10 div.p-frontImage{
    width: 13.574vh;
    top: 20.634vh;
    left: 27.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_11 div.p-frontImage{
    width: 17vh;
    top: 25.634vh;
    left: 54.144vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-front.bg_12 div.p-frontImage{
    width: 21vh;
    top: 83.634vh;
    left: 25vh;
    animation-duration: 2.6s;
    animation-name: anime-fuwafuwa;
}

body[data-mode=loaded] #mainBG div.p-frontImage{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-name: anime-fuwafuwa;
}

#mainBG div.p-frontImage{
    position: absolute;
}

@keyframes anime-fuwafuwa{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}
/* -----------background-------------- */

/* title */
#mainWrap div.c-container.slidein{
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 20px;
}

#titleSection{
    display: none;
}

#titleSectionSP{
    height: 100vh;
    position: relative;
}

#titleSectionSP img{
    width: 100%;
    margin-top: 4vh;
}
/* ---------title-------------- */

/* about */
#aboutSection{
    width: 100%;
    padding: 12.666vw 0 10px;
    position: relative;
    color: #fff;
    margin-top: 33.333vw;
}

#aboutSection::before{
    content: "";
    width: 100%;
    height: 13.333vw;
    background: 0 0/150px 150px #ea7fb8;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 43.6% 94%, 47.333% 94%, 100% 25%, 100% 100%, 0% 100%);
}

#aboutSection div.l-aboutContent{
    width: 100%;
    padding: 12.933vw 0 26.266vw;
    background-color:#ea7fb8;
}

#aboutSection div.c-container{
    padding: 0 5.333vw;
}

#mainWrap div.c-container{
    margin: 0 auto;
    position: relative;
}

/* star */
#aboutSection div.c-star{
    left: 65vw;
    top: -30vw;
}

div.c-star{
    width: 32vw;
    height: 20vw;
    position: absolute;
    top: -15vw;
    transform-origin: 50% 50%;
}

div.c-star img.c-starItemA,
div.c-star img.c-starItemB{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 0;
    transition: transform .1s 0s linear;
}

div.c-star img.c-starItemA{
    left: 0;
}

div.c-star img.c-starItemB{
    right: 0;
}
/* ------------star------------ */

/* aboutTitle */
#aboutSection .c-titleScroll{
    position: absolute;
    width: 53.2vw;
    height: 32.667vw;
    top: -37.866vw;
    left: 3.6vw;
}

.c-titleScroll {
    opacity: 0;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform:scale3d(0,0,0);
    }

    100% {
        opacity: 1;
        transform:scale3d(1,1,1);
    }
}
/* --------------------------------- */
/* #accessSection h2,
#ticketSection h2,
#programSection h2,
#floorSection h2,
#comedianSection h2,
#aboutSection h2 {
    position: absolute;
} */

#aboutSection h2{
    width: 53.2vw;
    height: 32.667vw;
    top: -37.866vw;
    left: 3.6vw;
    background-image: url(../img/about/title.svg);
    transform-origin: 100% 100%;
}

#aboutSection .p-aboutText,
#aboutSection .p-aboutDataPC{
    display:none;
}

#aboutSection p.p-aboutTextSP{
    font-size: 4.2666vw;
    font-weight: 500;
    line-height: 1.8125;
    text-align: center;
    margin-bottom: 14.666vw;
    font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,sans-serif;
}

#aboutSection div.p-aboutData{
    margin-bottom: 15.2vw;
}

#aboutSection div.p-aboutData dl{
    display: flex;
    max-width: 100%;
    line-height: 1.555;
    padding: .666vw 0;
    margin: 0 auto;
}

#aboutSection div.p-aboutData dt{
    position: relative;
    font-size: 2.666vw;
    line-height: 2.1;
    flex-basis: 24.533vw;
    width: 24.533vw;
}

#aboutSection div.p-aboutData dd{
    text-align: left;
}

#aboutSection div.p-aboutData dd span {
    font-size: 2.666vw;
}

#aboutSection div.p-aboutData div.c-star{
    top: -0.6vw;
    left: -1.5vw;
    width: 6vw;
    height: 6vw;
}

#aboutSection div.p-aboutData div.c-star img{
    width: 6vw;
    height: 6vw;
}

#aboutSection div.p-aboutData dt p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8vw 0 5.6vw;
}

#aboutSection .p-aboutData-note{
    text-align: center;
}
/* -----------about-------------- */

/* comedian */
#comedianSection{
    margin-top: -10px;
}

#comedianSection div.c-star{
    top: -12vw;
}

#comedianSection div.c-container{
    padding: 16.4vw 3.333vw 12vw 4.667vw;
    background: 0 0/150px 150px #65cd25;
}

#comedianSection .c-titleScroll{
    position: absolute;
    width: 68.8vw;
    height: 27.733vw;
    top: -16.533vw;
    left: 29.867vw;
}

#comedianSection ul{
    display: flex;
    flex-wrap: wrap;
}

#comedianSection li{
    width: 33.333%;
    padding: 0 0 6.667vw 1.333vw;
}

#comedianSection li a{
    text-decoration: none;
    position: relative;
}

#comedianSection li figure{
    position: relative;
    padding: 24vw 0 0 1.333vw;
}

#comedianSection li div.p-comedian__image.area{
    width: 26.667vw;
    height: 26.667vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 1.5vw;
}

#comedianSection li p.p-comedian__imagePhoto{
    width: 95%;
    height: 95%;
    padding: 0.667vw;
    border-radius: 1.5vw;
    font-size: 0;
    background: #ddd;
    margin: 1vw auto;
}

#comedianSection li p.p-comedian__imagePhoto img{
    width: 192px;
    height: 192px;
}

#comedianSection li div.p-comedian__image.area img{
    width: 100%;
    height: auto;
    padding-top: 2vw;
}

#comedianSection li p.p-comedian__imagePhoto img{
    border-radius: 1.333vw;
}

#comedianSection li div.p-comedian__text.area{
    width: 100%;
    position: relative;
}

#comedianSection li figcaption{
    min-height: 11.333vw;
    padding: 1.333vw 1.6vw;
    border-radius: 1.333vw;
    background: #fff;
}

#comedianSection li p.p-comedian__textName{
    font-size: 3.2vw;
    margin-bottom: .667vw;
    line-height: 1.333;
}

#comedianSection li p.p-comedian__textCompany{
    font-size: 2.666vw;
    line-height: 1.4;
}
/* -----------comedian------------- */

/* program */
#programSection{
    margin-top: 24vw;
}

#programSection div.c-star{
    top: -12vw;
}

#programSection div.c-container{
    padding: 19.733vw 0 12vw;
    border-radius: 5.333vw 0 0 5.333vw;
    background: 0 0/150px 150px #fafafa;
}

#programSection .c-titleScroll{
    position: absolute;
    width: 73.867vw;
    height: 27.6vw;
    top: -20vw;
    left: 23.467vw;
}

#programSection div.p-program__time{
    padding: 0 0 0 6vw;
    position: relative;
    font-family: "Avenir",Arial,"Helvetica Neue",sans-serif;
}

#programSection div.p-program__time ul{
    position: relative;
}

#programSection div.p-program__time ul::before{
    content: "";
    display: block;
    width: 1.0667vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10.667vw;
    background: #aaa;
    z-index: 1;
}

#programSection div.p-program__time li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.867vw;
}

#programSection div.p-program__time li:not(:last-child){
    margin-bottom: 19.466vw;
}

#programSection div.p-program__time li span{
    width: 8.933vw;
    font-size: 3.2vw;
    line-height: 1;
}

#programSection div.p-program__time li::after{
    content: "";
    display: block;
    flex-grow: 1;
    height: 0.267vw;
    background: #000;
    opacity: .1;
}

#programSection #timeBar[data-size="0"]{
    display: none;
}

#programSection #timeBar {
    width: 85.067vw;
    height: 4.8vw;
    position: absolute;
    top: 2.533vw;
    right: 0;
    z-index: 10;
}

.p-program__eventPC{
    display: none;
}

#programSection div.p-program__event{
    width: 82.133vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

#programSection div.p-program__event div.c-scrollBox{
    display: flex;
    justify-content: space-between;
    width: 138.133vw;
    height: 100%;
    padding: 19.733vw 3.2vw 12vw 0;
    opacity: 0.5;
}

#programSection div.p-program__event dl{
    width: 67.467vw;
    padding: 2.667vw 1.867vw 0 1.333vw;
    position: relative;
}

#programSection div.p-program__event dt{
    width: 100%;
    padding-bottom: 0.667vw;
    text-align: center;
    line-height: 1.481;
    position: absolute;
    bottom: 100%;
    left: 0;
}

#programSection div.p-program__event dt.sat span{
    color: #26b7e9;
}
#programSection div.p-program__event dt span{
    display: block;
    font-size: 5.333vw;
    line-height: 1.25;
}

#programSection div.p-program__event li[data-time="0.5"]{
    height: 12.6665vw;
}

#programSection div.p-program__event li[data-time="0.83"]{
    height: 21.02639vw;
}

#programSection div.p-program__event li[data-time="0.67"]{
    height: 16.97311vw;
}

#programSection div.p-program__event li[data-time="1.17"]{
    height: 29.63961vw;
}

#programSection div.p-program__event li[data-time="1.33"]{
    height: 33.69289vw;
}

#programSection div.p-program__event li[data-time="0.3"]{
    height: 7.5999vw;
}

#programSection div.p-program__event li a{
    display: block;
    height: 100%;
    text-decoration: none;
    position: relative;
}

#programSection div.p-program__event a div.p-program__eventBox{
    height: 100%;
    border-radius: 1.333vw;
}

#programSection div.p-program__event li figure{
    position: relative;
    padding-left: 19.733vw;
    text-align: left;
}

#programSection div.p-program__event li figure p.p-program__photo{
    width: 16vw;
    height: 15.333vw;
    border-radius: 0.533vw;
    overflow: hidden;
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-size: 0;
}

#programSection div.p-program__event li figure p.p-program__photo img{
    width: 16vw;
    height: 16vw;
    position: absolute;
    top: -0.3335vw;
    left: 0;
}

#programSection div.p-program__event li figure figcaption{
    padding: 1.467vw 2vw 0 0;
}

#programSection div.p-program__event li figure p.p-program__time{
    font-size: 2.667vw;
    line-height: 1.4;
}

#programSection div.p-program__event li figure p.p-program__name{
    font-size: 3.2vw;
    line-height: 1.2;
    padding: 0.171em 0;
}

#programSection div.p-program__event li figure p.p-program__category{
    font-size: 2.667vw;
    line-height: 1.3;
}

#programSection div.p-program__event li[data-close="1"] a::after{
    visibility: visible;
}
#programSection div.p-program__event li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .53;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#programSection div.p-program__event li a[data-hover="0"] div.p-program__eventBox,
#programSection div.p-program__event li a[data-hover="0"] div.p-program__eventBox::after{
    background: #ddd;
}

#programSection div.p-program__event li a[data-hover="1"] div.p-program__eventBox,
#programSection div.p-program__event li a[data-hover="1"] div.p-program__eventBox::after{
    background: #e6be40;
}

#programSection div.p-program__event li a[data-hover="2"] div.p-program__eventBox,
#programSection div.p-program__event li a[data-hover="2"] div.p-program__eventBox::after{
    background: #69cf26;
}

#programSection div.p-program__event li a[data-hover="3"] div.p-program__eventBox,
#programSection div.p-program__event li a[data-hover="3"] div.p-program__eventBox::after{
    background: #e878b3;
}

#programSection div.p-program__event li a[data-hover="4"] div.p-program__eventBox,
#programSection div.p-program__event li a[data-hover="4"] div.p-program__eventBox::after{
    background: #00d1f7;
}

#programSection div.p-program__event dl::after{
    content: "";
    display: block;
    width: 0.533vw;
    height: 100%;
    background: #aaa;
    position: absolute;
    right: 0;
    bottom: 0;
}

#programSection div.p-program__event dt.sun span{
    color: #e92323;
}
/* -----------program------------ */

/* ticket */
#ticketSection{
    width: 100%;
    padding-top: 30.4vw;
}

#ticketSection div.c-container{
    width: 100%;
    height: 100vw;
    border-radius: 61.7335vw;
    background: #fff;
    padding: 0 15.7335vw;
    text-align: center;
}

#ticketSection div.c-container>div.c-star{
    left: 63vw;
    top: -6vw;
}

#ticketSection .c-titleScroll{
    position: absolute;
    width: 51.8vw;
    height: 31.333vw;
    top: -22.4vw;
    left: -0.05vw;
}

#ticketSection img.p-ticket__logo{
    width: 27.4vw;
    height: 35.8vw;
    margin-top: 4vw;
}

#ticketSection div.p-ticket__text{
    text-align: left;
}

#ticketSection div.p-ticket__btn{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#ticketSection div.p-ticket__btn::before,
#ticketSection div.p-ticket__btn::after{
    content: "";
    flex-grow: 1;
}

#ticketSection div.p-ticket__btn a{
    min-width: 72vw;
    font-size: 4.267vw;
    text-decoration: none;
}

#ticketSection div.p-ticket__btn a div.p-ticket__box{
    border-radius: 6.933vw;
    white-space: nowrap;
    background: #56ac49;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding: 3.733vw 7vw;
}
#ticketSection div.p-ticket__btn a p{
    position: relative;
    display: inline-block;
    top: -0.2vw;
    left: -3%;
}
/* -------------ticket----------------- */

/* access */
#accessSection{
    padding-top: 9.6vw;
    position: relative;
    margin-top: 14.4vw;
}

#accessSection::before{
    content: "";
    width: 100%;
    height: 9.867vw;
    background: 0 0/150px 150px #65cd25;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 5.405%, 28% 91.891%, 59.867% 0%, 77.067% 97.297%, 94.667% 25.676%, 100% 0, 100% 100%, 0% 100%);
}

#accessSection div.c-container{
    padding: 0vw 0 20.533vw;
    background: 0 0/150px 150px #65cd25;
    color: #fff;
}

#accessSection .c-titleScroll{
    position: absolute;
    width: 57.4vw;
    height: 25.867vw;
    top: -21.067vw;
    left: 5.6vw;
}

#accessSection div.p-access__map{
    width: 88vw;
    height: 66vw;
    border-radius: 1.333vw;
    overflow: hidden;
    background: #fff;
    margin: 7.733vw auto 0;
}

#accessSection div.p-access__map iframe{
    width: 100%;
    height: 100%;
}

#accessSection div.p-access__text{
    padding: 0 6vw;
    font-size: 0;
    text-align: left;
}

#accessSection .p-access__textImg{
    font-size: 57px;
    font-weight: 900;
    color: #fff;
    letter-spacing: -1px;
}

#accessSection div.p-access__text figcaption{
    font-size: 3.6vw;
}

#accessSection div.p-access__text a:hover{
    text-decoration: none;
}

#accessSection div.p-access__text ul{
    margin-top: 6.4vw;
}

#accessSection div.p-access__text li:not(:last-child){
    margin-bottom: 1.6vw;
}

#accessSection div.p-access__text li{
    position: relative;
    padding-left: 5.333vw;
}

#accessSection .c-star{
    top: -9%;
    left: 62%;
}

#accessSection .c-star.typeA img.c-starItemA,
#accessSection .c-star.typeB img.c-starItemA{
    width: 6vw;
    height: 6vw;
    top: 0.9vw;
    left: -174%;
}

/* ------------access-------------- */

/* note */
#noteSection{
    display: none;
}

#noteSectionSP{
    display: block;
    padding-top: 4vw;
    position: relative;
    margin-top: -4.8vw;
}

#noteSectionSP::before{
    content: "";
    width: 100%;
    height: 4.8vw;
    background-color: #00badc;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(184vw 107.533vw at 50% 107.533vw);
}

#noteSectionSP div.l-noteContent{
    width: 100%;
    padding: 8.533vw 0 18.4vw;
    position: relative;
    background-color: #00badc;
    color: #fff;
}

#noteSectionSP div.c-star{
    top: -15vw;
    left: 50%;
    margin-left: -13.133vw;
}

#noteSectionSP div.c-container{
    padding: 0 3.2vw;
}

#noteSectionSP h2 {
    width: 100%;
    font-size: 6.933vw;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #fff;
}

#noteSectionSP .p-note{
    margin-top: 9.067vw;
}

#noteSectionSP .p-note figure:not(:last-child){
    margin-bottom: 5.333vw;
}

#noteSectionSP .p-note figure{
    min-height: 52vw;
    padding: 0 2.667vw 0 46.667vw;
    position: relative;
}

#noteSectionSP .p-note figure>div{
    width: 52vw;
    height: 52vw;
    border-radius: 26vw;
    overflow: hidden;
    font-size: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #00ccff;
    top: 0;
    left: 0;
}

#noteSectionSP .p-note figure img{
    width: 52%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 24%;
}

#noteSectionSP .p-note figcaption{
    position: relative;
}

#noteSectionSP .p-note dt{
    padding-right: 5.067vw;
    margin-top: 1.067vw;
    font-size: 5.333vw;
    line-height: 1.45;
    text-align: left;
}

#noteSectionSP .p-note dd{
    margin-top: 2.267vw;
    font-size: 2.667vw;
    line-height: 2;
    text-align: left;
}

#noteSectionSP .p-note figure:nth-child(2){
    padding: 0 46.667vw 0 2.667vw;
}

#noteSectionSP .p-note figure:nth-child(2)>div{
    left: auto;
    right: 0;
}
/* ------------note---------------- */

/* contact */
#contactSection{
    padding-top: 6.667vw;
    position: relative;
    margin-top: -8vw;
}

#contactSection div.c-star{
    top: -18vw;
    left: 11%;
    margin-left: -10vw;
}

#contactSection::before{
    content: "";
    width: 100%;
    height: 8vw;
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 0;
}

#contactSection div.l-contactContent{
    width: 100%;
    position: relative;
    background-color: #fff;
}

#contactSection div.c-container{
    padding: 8.933vw 6vw 14.667vw;
}

#contactSection h2{
    width: 100%;
    font-size: 6.933vw;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

#contactSection div.p-contact__text{
    margin-top: 7.067vw;
}

#contactSection div.p-contact__btn{
    display: flex;
    justify-content: center;
    margin-top: 8.8vw;
}

#contactSection div.p-contact__btn::before,
#contactSection div.p-contact__btn::after{
    content: "";
    flex-grow: 1;
}

#contactSection div.p-contact__btn a{
    min-width: 72vw;
    font-size: 4.267vw;
    text-decoration: none;
}

#contactSection div.p-contact__btn a div.c-box{
    border-radius: 6.933vw;
    white-space: nowrap;
    background: 0 0/150px 150px #ea7fb8;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding: 4vw 7.467vw;
}

#contactSection div.p-contact__btn a p{
    position: relative;
    background: 100% 50%/3.733vw 3.733vw;
    display: inline-block;
    padding-right: 2vw;
}
/* ----------------note--------------------- */

/* footer */
#footer{
    display: none;
}

#footerSP{
    color: #fff;
    background: #000;
}

#mainWrap footer{
    position: relative;
}

#footerSP div.c-container{
    padding: 9.333vw 6vw 17.333vw;
}

#footerSP li {
    padding-left: 5.6vw;
    position: relative;
    font-size: 2.667vw;
    line-height: 1.6;
    text-align: left;
}

#footerSP li:not(:last-child){
    margin-bottom: 3.733vw;
}

#footerSP li a{
    text-decoration: none;
}

/* footerLogo */
#footerSP div.p-footer__logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10.933vw;
}

#footerSP .p-footer__logo a{
    text-decoration: none;
}

#footerSP div.p-footer__logo img{
    width: 200px;
}

/* --------footerLogo--------- */

#footerSP li div.c-star{
    top: -1vw;
    left: -1.5vw;
    width: 6vw;
    height: 6vw;
}

#footerSP li div.c-star img{
    width: 6vw;
    height: 6vw;
}
/* ------------footer------------- */
